/* Container per spostare tutto compreso il background */
@media only screen and (max-width: 350px) {
    .container-wait-bar2 {
        padding: 10px;
    }
    .container-wait-bar2-left{
        padding: 10px;
    }
}

.container-wait-bar2 {
    position: absolute;
    width: 80%; /* Larghezza desiderata */
    height: 30%; /* Altezza desiderata */
    top: 70%;
    left: 11%;
    right: 80%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    max-width: 300px; /* Imposta la larghezza massima desiderata */

}
.container-wait-bar2-left {
    position: absolute;
    width: 80%; /* Larghezza desiderata */
    height: 30%; /* Altezza desiderata */
    top: 70%;
    left: 36%;
    right: 99%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    max-width: 300px; /* Imposta la larghezza massima desiderata */

}

/* Container per spostare progress bar, titolo e tempo stimato */
.container-wait-bar {
    position: absolute;
    top: 50%;
    left: 7%;
    width: 400px; /* Aumenta la larghezza del container */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-white {
    color: #fff;
}

/* Stili per la barra di avanzamento */
.progress-barr {
    position: relative;
    width: 45%; /* Larghezza desiderata */
    margin-top: 0;
    alignment: left;
    margin-left: 0;
    margin-right: 30%;
    margin-inside: center;
    height: 15px; /* Altezza desiderata */
    background-color: #ddd; /* Colore di sfondo grigio */
    border: 1px solid #000; /* Bordo nero */
    border-radius: 5px;
    overflow: hidden; /* Nascondi il contenuto oltre i bordi della barra */
    justify-content: space-between;
}

.text-over-bar {
    color: #ffffff;
    font-size: 16px; /* Aumenta la dimensione del carattere per il titolo */
    font-weight: bold;
    position: absolute;
    top: -82px; /* Regola la posizione verticale del testo sopra la barra */
    left: 0;
    right: 38%;
}

.estimated-time {
    position: absolute;
    top: 40px;
    left: 5%;
    right: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.button-cancel-execution{
    color: #ffffff;
    font-size: 16px; /* Aumenta la dimensione del carattere per il titolo */
    font-weight: bold;
    position: absolute;
    top: 87%; /* Regola la posizione verticale del testo sopra la barra */
    left: 19%;
    right: 75%;
    text-align: center;
    padding: 5px;
}


.progress-inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 10px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    transition: width 0.3s ease; /* Animazione di riempimento */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Stili per la barra di avanzamento incompleta */
.progress-inner:not(.complete) {
    background-color: #3498db; /* Colore blu per la barra di avanzamento */
}
/* Stili per la barra di avanzamento completata */
.progress-inner.complete {
    background-color: #2ecc71; /* Colore verde per indicare completamento */
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}